.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.navbar-container {
  background-color: #F1ECE6;
  padding: 17px;
}

.logo {
  width: 180px;
  height: auto;
}

.personal-professional-section {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: 700;
  background-color: #F3F3F3;
}

.personal,
.professional {
  padding: 10px;
  cursor: pointer;
  width: 50%;
}

.active {
  border-bottom: 3px solid #D98326;
}

.to-do-addbtn-txtField {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

input[type="text"] {
  padding-left: 20px;
  font-size: 17px;
  border: none;
  width: 50%;
  background: #F1ECE6;
  border-radius: 50px 0px 0px 50px;
}

button {
  width: 10%;
  padding: 10px;
  background: #76B7CD;
  color: white;
  font-size: 17px;
  border-radius: 0px 50px 50px 0px;
  border: none;
}

.todo-container {
  width: 59%;
  background-color: #F1ECE6;
  padding: 20px;
  border-radius: 50px;
  margin: 30px auto;
  text-align: left; 
}

.todo-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
  text-align: left;
}

.todo-text {
  margin-left: 10px;
  flex-grow: 1;
}

.todo-item input[type="radio"] {
  appearance: none;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.todo-item input[type="radio"]:checked {
  border-color: #D98326;
}

.todo-item input[type="radio"]:checked::after {
  content: '✔';
  position: absolute;
  left: 4px;
  top: 2px;
  font-size: 12px;
  color: #D98326;
}

.todo-text.line-through {
  text-decoration: line-through;
  color: gray;
}

.trash-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #D98326;
}

.trash-icon:hover {
  color: #D98326;
}

.clear-completed-container {
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: end;
}

.clear-completed {
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  color: #D98326;
  display: flex;
  align-items: center;
}

.clear-completed:hover {
  color: darkorange;
}

.todo-line {
  width: 100%;
  height: 1px;
  background-color: #76B7CD;
  margin: 7px 0;
  display: block; 
}

.todo-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
  text-align: left; 
  flex-wrap: wrap; 
}

.todo-text {
  margin-left: 10px;
  flex-grow: 1;
}

.todo-item input[type="radio"] {
  appearance: none;
  background-color: white;
  border: 2px solid #d98326;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.todo-item input[type="radio"]:checked {
  border-color: #D98326;
}

.todo-item input[type="radio"]:checked::after {
  content: '✔';
  position: absolute;
  left: 9px;
  top: 2px;
  font-size: 14px;
  color: #D98326;
}

.todo-text.line-through {
  text-decoration: line-through;
  color: gray;
}

.trash-icon {
  margin-left: 10px;
  cursor: pointer;
  color: #D98326;
}

.trash-icon:hover {
  color: #D98326;
}

.todo-line {
  width: 100%;
  height: 1px; 
  background-color: #76B7CD; 
  margin: 7px 0; 
  display: block;  
}

.todo-container {
  display: none;
  transition: display 0.5s ease-in-out;
}

.todo-container.visible {
  display: block;
}
